body {
    background-color: #FFFFFF; 
    color: #222;            
    font-family: Helvetica,Arial,sans-serif; 
    font-size: 16px;
    margin: 1;              
    padding: 1;    
    width:97%; 
	  background:url('bg.jpg')  no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

input,table {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
	margin:4px;
	
}


input[type=date],input[type=password],input[type=text]{
	border: 2px solid #E5C759;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:71%;
  margin:10px 0 0 0;
 	
} 

input:hover[type=date],input:hover[type=password],input:hover[type=text]{
	border: 2px solid #3399FF;
} 

input:focus[type=date],input:focus[type=password],input:focus[type=text]{
	border: 2px solid #3399FF;
	background-color: #E9F5FB;
} 


input[type=submit]{
	width:98%;
	height:30px;
	font-size: 16px;
	color: #000000;
	border:1px solid #A58931;
	background:#C5F0AA;
	background: -moz-linear-gradient(top,  #E5C759,  #B99A36);
	background: -webkit-gradient(linear, left top, left bottom, from(#E5C759), to(#B99A36));
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5C759', endColorstr='#B99A36');
	
  position:relative;
  margin:10px 0 0 0; padding:1px;outline-width:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
  font-style:normal;color:#333;text-shadow:0 1px 0 #fff;
 
}

input:hover[type=submit]{
	border:1px solid #3399FF;
	background:#B2D8FF;
	background: -moz-linear-gradient(top,  #E4F1FF,  #7BBDFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#E4F1FF), to(#7BBDFF));
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4F1FF', endColorstr='#7BBDFF');
	
}

input:focus[type=submit]{
	border:1px solid #3399FF;
	background:#82C0FF;
	background: -moz-linear-gradient(top,  #7BBDFF,  #E4F1FF);
	background: -webkit-gradient(linear, left top, left bottom, from(#7BBDFF), to(#E4F1FF));
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBDFF', endColorstr='#E4F1FF');
	
}


table{
	
	color: #222;            
  font-size: 16px;
  width:98%;
 margin:10px 0 0 0;
 text-align:left;
 background:#F3F9FF;
 border:1px solid #B8DEF4;
 background: -moz-linear-gradient(top,  #F3F9FF,  #FFF);
 background: -webkit-gradient(linear, left top, left bottom, from(#F3F9FF), to(#FFF));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F9FF', endColorstr='#FFF');
 text-shadow:none;
  border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px; 

border:1px solid #e5e5e5;
border-collapse:collapse;

}


thead{
 text-align:center;
 font-size:14px;
 height:30px;
 color:#fff;
 width:auto;
 padding:2px;
 background:#7C6528;
 border:1px solid #111;
 background: -moz-linear-gradient(top,  #C0A039,  #7C6528);
 background: -webkit-gradient(linear, left top, left bottom, from(#C0A039), to(#7C6528));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0A039', endColorstr='#7C6528');
 
}

td{
 text-align:left;
 font-size:14px;
 height:30px;
 
}



label{
 display:inline-block;
 font-size:16px;
 height:30px;
 font-weight:bold;
 color:#222;
 width:20%;
}

.alert {
	
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	width:64%;
	height:160px;
	position:absolute;
	color:#ffffff;
	font-weight: bold;
	font-size:14px;
		
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;  

	-moz-box-shadow: -4px -1px 10px 4px #8D742C;
	-webkit-box-shadow: -4px -1px 10px 4px #8D742C;
	box-shadow: -4px -1px 10px 4px #8D742C;
	
	opacity:0.96;filter:alpha(opacity=96);
	
	background-color:#8CCAEF;
	background: -moz-linear-gradient(top,  #8D742C,  #E3D07D 50%, #8D742C);
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#8D742C), to(#8D742C), color-stop(.5,#E3D07D));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D742C', endColorstr='#E3D07D');
	
	}
	
	.alerttext{
		
		padding:8px;
		width:95%;
		height:30%;
		border:1px solid #958451;
		color:#000000;
		display:block;
		user-select: none; -khtml-user-select: none; -moz-user-select: none;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-khtml-border-radius: 5px;
		-webkit-border-radius: 5px;  
	
	  background:#DDDDDD;
		background: -moz-linear-gradient(top,  #EBE4CA,  #F8F6EE);
		background: -webkit-gradient(linear, left top, left bottom, from(#EBE4CA), to(#F8F6EE));
		z-index:999999999999;
		
	}
	

