a { color: #333; text-decoration: none; user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;}
a img { border: 0; }
a:hover { color: #000; }
ul { list-style-type: none; }
*:focus {outline: none;}
document {
    
  }

body {
		
		background:#f1f1f1;
    color: #222;            
    font-family: Helvetica,Arial,sans-serif; 
    font-size: 16px;
    margin: 0px;  
    margin-left:1px;            
    padding: 0px;    
    width:99.5%; 
    background:url('bg.jpg');

	 overflow-x: hidden;
	
	 -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	
	-webkit-appearance: none;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	moz-tap-highlight-color:rgba(0,0,0,0);
	tap-highlight-color:rgba(0,0,0,0);

	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust:none;
	
	-webkit-overflow-scroll:touch;
	-moz-overflow-scroll:touch;
	overflow-scroll:touch;

}

.nowrap{
	white-space:nowrap;
}

h1,h2,h3{
	text-shadow: 0px 1px 0px #fff;
}

.shadow{
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
}

.rounded{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.datatable {
 background:#F3F9FF;
 background: -moz-linear-gradient(top,  #F3F9FF,  #FFF);
 background: -webkit-gradient(linear, left top, left bottom, from(#F3F9FF), to(#FFF));

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F9FF', endColorstr='#FFF');
	border: 1px solid rgba(0,0,0,0);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 16px;
	outline: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	
}

.datatable input[type='searchbox']{
   color: #333;
   font-size:14px;
   font-weight:bold;
   text-shadow:  rgba(255,255,255,0.1) 0 -1px;
   background-color: rgba(235,210,116,0.7);
   background-image:url('search.png');
   background-repeat: no-repeat;
   background-position:left; 
   border-radius: 10px;
   text-indent:20px;
   padding:4px;
   margin:0px;
   width:98%;
   height:18px;
    -moz-box-shadow: : inset 0px 2px 4px #666;
	-webkit-box-shadow: : inset 0px 2px 4px #666;
	box-shadow: inset 0px 2px 4px #666;
	border: none;
 }

.searcharea{
	position:relative;
}
  
span.icon_clear{
    position:absolute;
    right:2px;
    top:3px;   
    display:none;
    cursor:pointer;
    font: 20px;
    font-weight:normal;
    color:#fff;  
    text-shadow:  rgba(255,255,255,0.5) 0 -1px;
    text-align:center;
    vertical-align:text-top;
      width: 21px;
			height: 21px;
			z-index: 3;
			border-radius: 20px;
			
			background-color: #DED2A3;
		

    }
    span.icon_clear:active{
        color:#3399FF;
    }
  

.datatable thead{
 text-shadow: 0px 1px 0px #C9AD50;
 text-align:center;
 font-size:14px;
 
 color:#4E3E18;
 font-weight:normal;
 width:auto;
 padding:2px;
 background:#7C6528;
 border:1px solid #796424;
 background: -moz-linear-gradient(top,  #C0A039,  #7C6528);
 background: -webkit-gradient(linear, left top, left bottom, from(#C0A039), to(#7C6528));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0A039', endColorstr='#7C6528');
 cursor: pointer;

}

.datatable thead th{
	height:34px;
}

.datatable td{
 text-align:left;
 font-size:16px;
 height:30px;
 border:1px solid #e5e5e5;
}


.emphasis{
	background:rgba(55, 55, 55, 0.1);

}

hr{
	display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 96%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaa;
   border-bottom: 1px solid #ddd;
   
}

input, button {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 16px;
	outline: 0;
-webkit-appearance: none;


}


input{
	padding:0px;
	margin:0px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.finput{
	width:100%;
	padding:0px;
	display:table;
	padding:0px;
  margin:0px;
	margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px
}

.finput-label{
	display:table-cell;
	vertical-align:middle;
	width:25%;
	margin:0px;
	padding:0px;
	word-wrap:break-word;
	height:100%;

}


.finput-input{
	display:table-cell;
	width:75%;
	
}


input[type=date],input[type=password],input[type=text],input[type=file],input[type=capture],input[type=localfile],textarea{
	
	border: 2px solid #E5C759;
	font-size: 16px;
	border-radius: 8px;
	-moz-border-radius: 8px;
  -khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	width:99%;
	height:38px;
	-webkit-appearance: none;
  user-select: text; -khtml-user-select: text; -moz-user-select: text; -ms-user-select: text;
  text-indent:4px;
  font-family: Helvetica,Arial,sans-serif; 
  font-size: 16px;
} 

/*
select{
	padding:0px;
  margin:0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
	
  
}
*/

input[type=range]{
		width:auto;
		height:0px;
		-moz-box-shadow: : inset 0px 2px 4px #666;
	 -webkit-box-shadow: : inset 0px 2px 4px #666;
	 box-shadow: inset 0px 2px 4px #666;
	 /*-webkit-appearance: slider-horizontal;*/
	 -webkit-appearance: none;  
    border: 1px solid #979797;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: inset 0 1px 3px #BABABA, inset 0 6px 3px 2px rgba(200, 200, 200, 0.5);
		-webkit-box-shadow: inset 0 1px 3px #BABABA, inset 0 6px 3px 2px rgba(200, 200, 200, 0.5);
		-moz-box-shadow: inset 0 1px 3px #BABABA, inset 0 6px 3px 2px rgba(200, 200, 200, 0.5);
     padding-top:6px;
     padding-bottom:6px;		
     width:60%;

     margin-left:2px;
}


input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
      display: block;
			width: 30px;
			height: 30px;
			position: relative;
			top: 0;
			border: solid 1px #907E37;
			border-radius: 28px;
			box-shadow: inset 0 2px 1px #EDE0B7, inset 0 -2px 1px #EDE0B7;
			background: #856C2A;
	    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
	    background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	    background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	    background: linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	    
}  

.spacer{
	
	padding:0px;
  margin:0px;
	margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list { 
	width:94%; 
	font-size:15px; 
	padding:0px;
  margin:0px;

  background-color:#FFFFFF; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
  border:solid 1px #CCCCCC;
  
	}
	
.list ul { 
	list-style: none;
	padding:0px;
  margin:0px;
}
.list ul li {
	text-align:left;
	vertical-align:middle;
	padding-top:8px;
	padding-bottom:8px;
	display:block; text-decoration:none; color:#000000; line-height:30px;
  border-top:none;
  border-bottom: solid 1px #CCCCCC; 
  padding-left:10px; 
  cursor:pointer; 
  }
  
.list ul li:active { 
	color:#FFFFFF; 
	background: #856C2A;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
  background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBD06D', endColorstr='#EBD582');
	background: linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	text-shadow:  rgba(0,0,0,0.1) 0 -1px;
	}
	
.list ul li:last-child { border-bottom:none; }
.list ul li:last-child:active { 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
	}
	
	.list ul li:first-child:active { 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
	}

.range{
	position:relative;
  vertical-align:middle;
}
.rangevalue{
	display:inline-block;
	position:absolute;
	font-size:12px;
	font-weight:bold;
	color:#444;
	text-shadow:  rgba(255,255,255,0.3) 0 -1px;
  top:10px;
  margin-left:2px;
}

textarea{
	height:auto;
	-webkit-appearance: none;
	width:98%;
  resize:none;
}



input[type=text],textarea{
  -moz-box-shadow: : inset 0px 2px 4px #666;
	-webkit-box-shadow: : inset 0px 2px 4px #666;
	box-shadow: inset 0px 2px 4px #666;
	border: none;
	background-color: rgba(255,255,255,0.5);
	margin:1px;
	border: 1px solid rgba(255,255,255,0.5);
}
/*
input[type=text]:hover{
	border: 2px solid #3399FF;
	margin:0px;
  margin-top: 10px;
	margin-bottom: 10px;
}
*/
input[type=text]:focus,textarea:focus{
	background-color: #F6FBFD;
	border: 2px solid #3399FF;
  margin:0px;
}


input[type=capture],input[type=localfile]{
	 background: #856C2A;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
    background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
    background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
    background: linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	-webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
 border: 2px solid #856C2A;
  color:#333;
  
} 

input:active[type=capture],input:active[type=localfile]{
  border: 2px solid #3399FF;		
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBD06D),color-stop(0.5, #EBD582),color-stop(0.5, #E5C759),color-stop(1, #856C2A));
  background: -moz-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  background: -ms-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBDFF', endColorstr='#E4F1FF');
	background: linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
}

input:focus[type=capture],input:focus[type=localfile]{
  border: 2px solid #3399FF;		
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBD06D),color-stop(0.5, #EBD582),color-stop(0.5, #E5C759),color-stop(1, #856C2A));
  background: -moz-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  background: -ms-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBDFF', endColorstr='#E4F1FF');
	background: linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
}	
/*
input:hover[type=date],input:hover[type=password],input:hover[type=file]{
	border: 2px solid #3399FF;
} 
*/

input:focus[type=date],input:focus[type=password],input:focus[type=file]{
	border: 2px solid #3399FF;
	background-color: #E9F5FB;
	
} 


input[type=submit], button{
	font-family: Helvetica,Arial,sans-serif; 
	width:100%;
	font-size: 16px;
	color: #000000;
	border:1px solid #A58931;
	height:50px;
 	background: #856C2A;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
  background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBD06D', endColorstr='#EBD582');
	background: linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	position:relative;
  padding: 10px; 
  outline-width:0;
  -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
  font-style:normal;color:#333;text-shadow:0 1px 0 #fff;
  user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}
/*
input:hover[type=submit], button{
	border:1px solid #3399FF;
	background: -moz-linear-gradient(top,  #E4F1FF,  #7BBDFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#E4F1FF), to(#7BBDFF));
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4F1FF', endColorstr='#7BBDFF');
	
}
*/
input:active[type=submit], button:active{
	border: 1px solid #3399FF;
	background: #856C2A;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBD06D),color-stop(0.5, #EBD582),color-stop(0.5, #E5C759),color-stop(1, #856C2A));
  background: -moz-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  background: -ms-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBDFF', endColorstr='#E4F1FF');
	background: linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
	
}


				

   
.capturebutton, .filebutton{
	display:inline-block;
  font-family: Helvetica,Arial,sans-serif; 
	padding:0px;
	margin:0px;
  font-size:16px;
  outline: 0;
  height:40px;
  left:-2px;
  top:-1px;
  width:33%;
	font-size: 14px;
	color: #000000;
	border: 2px solid #856C2A;
	border-left:0px;
  background: #856C2A;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
  background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBD06D', endColorstr='#EBD582');
	background: linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  position:relative;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  
  color:#222;text-shadow:0 1px 0 #fff;
  user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}



.capturebuttonselected, .filebuttonselected{
	
	border: 2px solid #3399FF;
	background: #856C2A;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBD06D),color-stop(0.5, #EBD582),color-stop(0.5, #E5C759),color-stop(1, #856C2A));
  background: -moz-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  background: -ms-linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBDFF', endColorstr='#E4F1FF');
	background: linear-gradient(#856C2A 0%,#E5C759 50%,#E5C759 50%,#EBD06D 100%);
	border-left:0px;

	
  position:relative;

  -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  
  font-style:normal;color:#333;text-shadow:0 1px 0 #fff;
  user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}


.capturebutton:before{
	display:block;
	position:absolute;
	background:url('camera.png') left top no-repeat;	
	content: "";
	display: block;
	height:20px;
	width:20px;
	float:right;
	right:0px;
	top:0px;
}

.filebutton:after{
	display:block;
	position:absolute;
	background:url('file.png') left top no-repeat;	
	content: "";
	display: block;
	height:20px;
	width:20px;
	float:right;
	right:0px;
	top:0px;
}


img{
		user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

div{
		user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

table{
	
	color: #222;            
  font-size: 16px;
  width:100%;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align:left;

 text-shadow:none;
  border-radius: 8px;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
-webkit-border-radius: 8px; 


border-collapse:collapse;
user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}



label{
	display:inline-block;

 position:relative;
 font-size:16px;
 font-weight:bold;
 color:#222;
 width:100%;
 user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
 word-wrap:break-word;
 text-shadow: 0px 1px 0px #fff;
}

legend{

 position:relative;
 font-size:16px;
 font-weight:bold;
 color:#222;
 user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
 word-wrap:break-word;
 text-shadow: 0px 1px 0px #fff;
}

fieldset{
  background-color: rgba(255,255,255,0.8);
	margin-top: 15px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
 border:1px solid #CCCCCC;
 border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;  
  user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
	
}


.alert {
	
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	width:240px;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -130px;
  word-wrap: break-word;
	
	color:#ffffff;
	font-weight: normal;
	font-size:16px;
	
	border: 2px solid #E0C155;
  border-top-color: #DECA77;	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;  

	-moz-box-shadow: -4px -1px 10px 4px #8D742C;
	-webkit-box-shadow: -4px -1px 10px 4px #8D742C;
	box-shadow: -4px -1px 10px 4px #8D742C;
	
	opacity:0.96;filter:alpha(opacity=96);
	-webkit-opacity:0.96;-moz-opacity:0.96;
	background-color:#C0A039;
	background: -moz-linear-gradient(top,  #E3D07D,  #8D742C 50%, #E3D07D);
	background: -webkit-gradient(linear, left top, left bottom, from(#E3D07D), to(#E3D07D), color-stop(0.15, #8D742C), color-stop(0.15, #8D742C));
		
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D742C', endColorstr='#E3D07D');
	user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
	
	
	}
	
	.alerttext{
		
		padding:2px;
		width:95%;

		color:#fff;
		display:block;
		user-select: none; -khtml-user-select: none; -moz-user-select: none;-ms-user-select: none;
	 
		z-index:999999999999;
		
	}
	
	.alertbutton{

		box-shadow:none;
	}
	

/*Switch - Checkbox*/

    .switch {
    	position:relative;
		  padding:0px;
			margin:0px;
			margin-top: 5px;
			margin-bottom: 5px;
			height: 28px;
			width: 77px;
			border: 1px solid #979797;
			border-radius: 20px;
			background-color:#fff;
			box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
			-webkit-box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
			-moz-box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
			cursor: pointer;
			overflow: hidden;
      		left:2px;
			text-decoration: none; user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
		}
		.switch input[type=checkbox] {
			display: none;
		}
		
		.switch .switchdata {
			display: block;
			width: 26px;
			height: 26px;
			position: relative;
			top: 0;
			z-index: 3;
			border: solid 1px #919191;
			border-radius: 28px;
			box-shadow: inset 0 2px 1px white, inset 0 -2px 1px white;
			background-color: #CECECE;
			background-image: -webkit-linear-gradient(#CECECE, #FBFBFB);
			background-image: -moz-linear-gradient(#CECECE, #FBFBFB);
			transition: all 0.125s ease-in-out;
			-webkit-transition: all 0.125s ease-in-out;
			-moz-transition: all 0.125s ease-in-out;
			transform: translateX(0px);
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translateX(0px);
		
		}
	
	.switch .switchon{
			display: block;
			border: none;
			position: absolute;
			width:100%;
			text-align:center;
		    height: 28px;
			border-radius: 20px;
			-webkit-box-shadow: inset 0 1px 2px #888, inset 0 12px 3px 2px rgba(100, 100, 100, 0.2);
			-moz-box-shadow: inset 0 1px 2px #888, inset 0 12px 3px 2px rgba(100, 100, 100, 0.2);
			box-shadow: inset 0 1px 2px #888, inset 0 12px 3px 2px rgba(100, 100, 100, 0.2);
			background-color: #E5C759;
			display:none;
	}
	.switch .switchontext{
			font: bold 14px/30px Helvetica;
			display: block;
			text-shadow:  rgba(0,0,0,0.3) 0 -1px;
			color:#fff;
			border: none;
			position: absolute;
			width:100%;
			text-align:center;
		    height: 100%;
		    
		    left:-8px;
	
	}
	
	.switch .switchoff{
		font: bold 14px/30px Helvetica;
		display: block;
		position: absolute;
		right: -8px;
		top: 0px;
		text-shadow: 0px 1px 0px #fff;
		color:#8c8c8c;
		width:100%;
		text-align:center;
		display:none;
	}
	
	     
  .radioarea{
  	display:block;
  	width:0px;white-space:nowrap;
  	padding:0px;
  margin:0px;
	margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px
  }
    .toggle-buttons input[type="radio"] + span::after
    {
     
	 font-size:14px;
	    content: "OFF";
    }

    .toggle-buttons input[type="radio"]:checked + span::after
    {
      font-size:14px;
	    content: "ON";
    }

    .toggle-buttons
    {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .toggle-buttons
    {
          padding:0px;
					margin:0px;
					margin-top: 5px;
					margin-bottom: 5px;
    }

    .toggle-buttons input[type="radio"] + span,
    .toggle-buttons input[type="radio"] + span::before,
    .toggle-buttons input[type="radio"] + span::after
    {
        display: inline-block;
    }

    .toggle-buttons label,
    .toggle-buttons input[type="radio"] + span
    {
        vertical-align: middle;
    }

    .toggle-buttons input[type="radio"] + span,
    .toggle-buttons input[type="radio"] + span::before,
    .toggle-buttons input[type="radio"] + span::after
    {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

    .toggle-buttons input[type="radio"] + span::before,
    .toggle-buttons input[type="radio"] + span::after,
    .toggle-buttons input[type="radio"]:checked + span::before,
    .toggle-buttons input[type="radio"]:checked + span::after
    {
        top: 0;
    }

    .toggle-buttons input[type="radio"] + span::after,
    .toggle-buttons input[type="radio"]:checked + span::before
    {
        right: 0;
    }

    .toggle-buttons input[type="radio"] + span::before,
    .toggle-buttons input[type="radio"]:checked + span::after
    {
        left: 0;
    }

    .toggle-buttons input[type="radio"],
    .toggle-buttons input[type="radio"] + span::before,
    .toggle-buttons input[type="radio"] + span::after
    {
        position: absolute;
    }

    .toggle-buttons label
    {
        cursor: pointer;
    }

    .toggle-buttons input[type="radio"]
    {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
    }

		.toggle-buttons .radiolabel{
			padding-left:4px;
			font-size:14px;
			color:#444;
			text-shadow:  rgba(255,255,255,0.3) 0 -1px;
		} 

    .toggle-buttons input[type="radio"] + span
    {
        width: 100px;
        height: 30px;
        font: bold 14px/30px Helvetica;
        color: #8c8c8c;
      	border: 1px solid #979797;
			
			background-color:#fff;
			box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
			-webkit-box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
			-moz-box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
        position: relative;
        text-indent: -9999px;
    }

    .toggle-buttons input[type="radio"] + span::before
    {
        content: "";
        width: 40%;
        height: 29px;
        border-top: solid 1px #fff;
        border-right: solid 1px #bebebe;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#f9f9f9");
        background: -moz-linear-gradient(top, #cfcfcf, #f9f9f9);
        background: -webkit-linear-gradient(top, #cfcfcf, #f9f9f9);
        background: -o-linear-gradient(top, #cfcfcf, #f9f9f9);
        background: -ms-linear-gradient(top, #cfcfcf, #f9f9f9);
        background: linear-gradient(top, #cfcfcf, #f9f9f9);
        -moz-box-shadow: 1px 0 1px #bebebe;
        -webkit-box-shadow: 1px 0 1px #bebebe;
        box-shadow: 1px 0 1px #bebebe;
    }

    .toggle-buttons input[type="radio"] + span::after
    {
        text-indent: 0;
        width: 62%;
        height: 32px;
        text-align: center;
    }

    .toggle-buttons input[type="radio"]:checked + span
    {
      -webkit-box-shadow: inset 0 1px 2px #888, inset 0 12px 3px 2px rgba(100, 100, 100, 0.2);
			-moz-box-shadow: inset 0 1px 2px #888, inset 0 12px 3px 2px rgba(100, 100, 100, 0.2);
			box-shadow: inset 0 1px 2px #888, inset 0 12px 3px 2px rgba(100, 100, 100, 0.2);
			background: #E5C759;
			color: #fff;
      text-shadow:  rgba(0,0,0,0.3) 0 -1px;
    }

    .toggle-buttons input[type="radio"]:checked + span::before
    {
        left: auto;
        -moz-box-shadow: -2px 0 1px #A89341;
        -webkit-box-shadow: -2px 0 1px #A89341;
        box-shadow: -2px 0 1px #A89341;
        
    }

    .toggle-buttons input[type="radio"]:checked + span::after
    {
 
        height: 30px;
        top: -1px;
        left: -1px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }


  	

.ios .dw {
  min-width: 134px;
  position:relative; 
  left:-2px;
	padding-top: 10px;
	padding-bottom: 10px;
  border: 1px solid #C0A039;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;  
  -moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	
	
	background: #856C2A;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
  background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBD06D', endColorstr='#EBD582');
	background: linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
	user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
 
}
.ios .dwi {
    padding: 0px;
    
}
.ios .dwv {
    display: none;
}
.ios .dwwc {
    background: transparent;
}
.ios .dwwl {
    margin: 0;
    border-left: 1px solid #685620;
    border-right: 1px solid #685620;
    background: #C0A039;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2c2c38),color-stop(0.35, #cbcce0),color-stop(0.65, #cbcce0),color-stop(1, #2c2c38));
    background: -moz-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
    background: -ms-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
 }
  
.ios .dww {
    margin: 0 3px;
    background: #fff;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #333),color-stop(0.10, #999),color-stop(0.30, #fff),color-stop(0.70, #fff),color-stop(0.90, #999),color-stop(1, #333));
    background: -moz-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    background: -ms-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    
}
.ios .dwpm .dww {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #333),color-stop(0.48, #fff),color-stop(0.52, #fff),color-stop(1, #333));
    background: -moz-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
    background: -ms-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
}
.ios .dwpm .dwwl {
    margin: 4px 2px;
}
.ios .dwpm .dww {
    margin: 0;
    border: 0;
}
.ios .dww li {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    text-shadow: none;

}
.ios .dwwo {
    display: none;
}
.ios .dwwol {
    height: 28px;
    padding: 1px;
    margin-top: -16px;
    border-color: #7b8699;
    background: #6f75b0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5, rgba(111, 117, 176, 0.5)),color-stop(0.5, rgba(151, 157, 197, 0.5)));
    background: -moz-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    background: -ms-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    z-index: 10;
    left: -1px;
    -moz-box-shadow: 2px 2px 3px #666;
	  -webkit-box-shadow: 2px 2px 3px #666;
	  box-shadow: 2px 2px 3px #666;
    filter: alpha(opacity=50);
}
.ios .dwbc {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: #8093b0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6e83a4),color-stop(0.5, #8093b0),color-stop(0.5, #E3D07D),color-stop(1, #C0A039));
    background: -moz-linear-gradient(#C0A039 0%,#E3D07D 50%,#8093b0 50%,#6e83a4 100%);
    background: -ms-linear-gradient(#C0A039 0%,#E3D07D 50%,#8093b0 50%,#6e83a4 100%);
    border-bottom: 1px solid #2d3034;
}
.ios .dwb {
    margin: 0 5px;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #1947bb;
    background: #2461e6;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2461e6),color-stop(0.5, #225ee5),color-stop(0.5, #386de8),color-stop(1, #E3D07D));
    background: -moz-linear-gradient(#E3D07D 0%,#386de8 50%,#225ee5 50%,#2461e6 100%);
    background: -ms-linear-gradient(#E3D07D 0%,#386de8 50%,#225ee5 50%,#2461e6 100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
}
.ios .dwb-a {
    border: 1px solid #856C2A;
    background: #2461e6;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4c6b9f),color-stop(0.5, #49689d),color-stop(0.5, #5a76a6),color-stop(1, #8fa4c4));
    background: -moz-linear-gradient(#8fa4c4 0%,#5a76a6 50%,#49689d 50%,#4c6b9f 100%);
    background: -ms-linear-gradient(#8fa4c4 0%,#5a76a6 50%,#49689d 50%,#4c6b9f 100%);
    
}
.ios .dwwb {
    color: #fff;
    border: 0;
    background: #856C2A;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #856C2A),color-stop(0.5, #E5C759),color-stop(0.5, #EBD582),color-stop(1, #EBD06D));
    background: -moz-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
    background: -ms-linear-gradient(#EBD06D 0%,#E5C759 50%,#C4AB4C,#856C2A 100%);
    
}
.ios .dwwl .dwb-a {
    background: #8D742C;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #8D742C),color-stop(0.5, #171e28),color-stop(0.5, #8D742C),color-stop(1, #8D742C));
    background: -moz-linear-gradient(#8D742C 0%,#8D742C 50%,#171e28 50%,#8D742C 100%);
    background: -ms-linear-gradient(#8D742C 0%,#8D742C 50%,#171e28 50%,#8D742C 100%);
    
}
.ios .dwb-s {
    width: auto;
    float: right;
    text-align: right;
}
.ios .dwb-c {
    width: auto;
    float: left;
    text-align: left;
}

/*Table Paging*/
.pager{
	  
	  height: 30px;
	  padding: 0;
    margin: 0;
    padding-top: 10px;
    margin-top:-10px;
    margin-bottom:20px;
    text-shadow:  rgba(0,0,0,0.3) 0 -1px;
 		border-top:1px solid #796424;
  
   border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px; 
  
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; 
  

	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
}


.pager div.short
{
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width:100%;
 
}
.pager div.short input
{
    width: 28px;
    height: 18px;
    border: none;
    margin-left: 8px;
    float: left;
}
.pager ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;
    white-space:nowrap;
    
}
.pager ul li
{
    display: inline;
    margin-left: 2px;
    
}
.pager ul li a
{
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    
}

.pager span
{  
    margin-left: 4px;
    color: #222;
    float: left;
    font-size:12px;
    font-weight:normal;
    text-shadow: 0px 1px 0px #aaa;
    padding-top:8px;
}
.btns{
 	background:#000;
}

.pager .btn
{
	  font-size:16px;
	  color:#fff;
	  display: block;
    width: 40px;
    text-align: center;
    float: left;
    padding: 0;
    padding-top:6px;
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow:none;
}
.pager .disabled
{
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.cgo
{
	padding:8px;
	padding-left:12px;
	padding-right:12px;
	font-size:16px;
  font-weight:bold;
	background:#7C6528;
 	border:1px solid #796424;
 	background: -moz-linear-gradient(top,  #C0A039,  #7C6528);
 	background: -webkit-gradient(linear, left top, left bottom, from(#C0A039), to(#7C6528));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0A039', endColorstr='#7C6528');
}
.cgo.normal
{
		margin-top:-4px;
    background-color: #C7A841;
    color: #fff;
    border: solid 1px #AB9037;
}
.cgo.active
{
    background-color: #90762D;
    color: #DFC054;
    border: solid 1px #7B6526;
}

.nextlast
{
    color: #222;
    font-size:14px;
    
}


